In [5]:
import pandas as pd
import numpy as np

# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)
print('GPUs available: {}'.format(len(tf.config.list_physical_devices('GPU'))))

2.2.0
GPUs available: 1

In [10]:
titanic = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [11]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [24]:
inputs = {}

for name, column in titanic_features.items():
    dtype = column.dtype
    if dtype == object:
        dtype = tf.string
    else:
        dtype = tf.float32
        
    inputs[name] = tf.keras.Input(shape=(1,), name=name, dtype=dtype)
    
inputs

{'sex': <tf.Tensor 'sex_1:0' shape=(None, 1) dtype=string>,
 'age': <tf.Tensor 'age_1:0' shape=(None, 1) dtype=float32>,
 'n_siblings_spouses': <tf.Tensor 'n_siblings_spouses_1:0' shape=(None, 1) dtype=float32>,
 'parch': <tf.Tensor 'parch_1:0' shape=(None, 1) dtype=float32>,
 'fare': <tf.Tensor 'fare_1:0' shape=(None, 1) dtype=float32>,
 'class': <tf.Tensor 'class_1:0' shape=(None, 1) dtype=string>,
 'deck': <tf.Tensor 'deck_1:0' shape=(None, 1) dtype=string>,
 'embark_town': <tf.Tensor 'embark_town_1:0' shape=(None, 1) dtype=string>,
 'alone': <tf.Tensor 'alone_1:0' shape=(None, 1) dtype=string>}

In [28]:
numeric_inputs = {name:input for name, input in inputs.items()
                  if input.dtype==tf.float32}

x = layers.Concatenate()(list(numeric_inputs.values()))
norm = preprocessing.Normalization()
norm.adapt(np.array(titanic[numeric_inputs.keys()]))

all_numeric_inputs = norm(x)
all_numeric_inputs

In [29]:
preprocessed_inputs = [all_numeric_inputs]

In [30]:
for name, input in inputs.items():
    if input.dtype == tf.float32:
        continue